In [11]:
# Load data from MySQL to perform exploratory data analysis
%load_ext sql
import settings
import mysql.connector as connection
import pandas as pd
import time

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

# try:
db_connection = connection.connect (
    host="localhost",
    user="root",
    password="reuben80@Kihiu",
    database="mysql",
    charset = 'utf8'
)
#  db_connection = connection.connect(
#     host="localhost",
#     user="root",
#     password="reuben80@Kihiu",
#     database="mysql",
#     charset = 'utf8'
#   )

#  query = "CREATE DATABASE Facebook"

#  cursor = db_connection.cursor()  #create a cursor to execute queries
#  cursor.execute(query)
#  print(cursor.fetchall())

# except Exception as e:
#     db_connection.close()
#     print(atr(e)) 

%reload_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
# Load data from MySQL
df = pd.read_sql('SELECT id_str, text, created_at, polarity, user_location FROM {}'.format(settings.TABLE_NAME), con=db_connection)
# UTC for date time at default
df['created_at'] = pd.to_datetime(df['created_at'])
print("Airbnb Negative Tweets Monitor: ")
for index, tweets in df[df['polarity'] == -1].iterrows():
    print("  " +str(tweets[2]) + "  " + tweets[1])


# Clean and transform data to enable time series
result = df.groupby([pd.Grouper(key='created_at', freq='10min'), 'polarity']).count() \
        .unstack(fill_value=0).stack().reset_index()
result['created_at'] = pd.to_datetime(result['created_at']).apply(lambda x: x.strftime('%m-%d %H:%M'))


# Plot Line Chart for monitoring brand awareness on Twitter
mpl.rcParams['figure.dpi']= 200
plt.figure(figsize=(16, 6))
sns.set(style="darkgrid")
ax = sns.lineplot(x = "created_at" ,y="id_str", hue='polarity', data=result,\
                  palette=sns.color_palette(["#FF5A5F","#484848", "#767676"]))
ax.set(xlabel='Time Series in UTC', ylabel="Number of '{}' mentions".format(settings.TRACK_WORDS[0]))
plt.legend(title='Attitude towards Airbnb', loc='upper left', labels=['Negative', 'Normal', 'Positive'])
sns.set(rc={"lines.linewidth": 1})
plt.show()

/tmp/ipykernel_41394/2423343204.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT id_str, text, created_at, polarity, user_location FROM {}'.format(settings.TABLE_NAME), con=db_connection)

DatabaseError: Execution failed on sql 'SELECT id_str, text, created_at, polarity, user_location FROM Facebook': 1054 (42S22): Unknown column 'id_str' in 'field list'

In [ ]:
# Next step: find out geo-distribution of users
# Find where tweets come from according to their users' location
%pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="es")
location = geolocator.geocode("Columbus, Oh")
print((location.latitude, location.longitude))
location.address

In [ ]:
pip install -U  --upgrade pip

In [2]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.7.1-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (9.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.2/9.2 MB 840.3 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /home/esther/.local/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/esther/.local/lib/python3.8/site-packages (from matplotlib) (5.12.0)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.3/98.3 kB 1.0 MB/s eta 0:00:001 kB/s eta 0:00:0101
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 1.2 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: numpy>=1.20 in /home/esther/.local/lib/python3.8/site-packages (from matplotlib) (1.24.2)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /home/esther/.local/lib/python3.8/site-packages (from matplotlib) (23.0)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.0/300.0 kB 1.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (7.0.0)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.0-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 1.5 MB/s eta 0:00:00[31m1.6 MB/s eta 0:00:01
Requirement already satisfied: zipp>=3.1.0 in /home/esther/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.14.0)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.0 kiwisolver-1.4.4 matplotlib-3.7.1 pyparsing-3.0.9
Note: you may need to restart the kernel to use updated packages.