In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [1]:
pip install --force-reinstall 'sqlalchemy<2.0.0'

Collecting sqlalchemy<2.0.0
  Using cached SQLAlchemy-1.4.47-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (618 kB)
Installing collected packages: greenlet, sqlalchemy
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.47
    Uninstalling SQLAlchemy-1.4.47:
      Successfully uninstalled SQLAlchemy-1.4.47
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.47 which is incompatible.
Successfully installed greenlet-2.0.2 sqlalchemy-1.4.47
Note: you may need to restart the kernel to use updated packages.

In [3]:
%matplotlib inline

In [5]:
cnxn_string = (
    "postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}"
)
print(cnxn_string)

postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}

In [6]:
engine = create_engine(
cnxn_string.format(
username="postgres",
pswd="reuben80kihiu",
host="localhost",
port=5432,
database="sqlda"
)
)

In [7]:
data = pd.read_csv(
  "~/Documents/Python-Crash-Course-Assignment/sql/public_transportation_statistics_by_zip_code.csv",
dtype={'zip_code':str}
)

In [8]:
data.head()

  zip_code  public_transportation_pct  public_transportation_population
0    01379                        3.3                                13
1    01440                        0.4                                34
2    01505                        0.9                                23
3    01524                        0.5                                20
4    01529                        1.8                                32